/* Start About Us Intro */
.bread-crumb {
  background-color: #e9ecef;
}

.breadcrumb {
  margin-bottom: 0;
}

.about-intro {
  padding: 50px;
}

.about-intro .h1 {
  font-size: 74px;
  font-weight: bold;
}

.about-intro hr {
  width: 70%;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
/* End About Us Intro */

/* Start About Features */
.about-features {
  padding-bottom: 50px;
}
.about-features h3 {
  margin: 20px 0;
  font-weight: bold;
}

.about-features p {
  font-size: 14px;
  margin-bottom: 20px;
}
/* End About Features */

/* Start About Seo */
.about-seo {
  background-color: #f7f7f7;
  padding: 50px 0 0;
}

.about-seo h2 {
  margin-top: 20px;
}

.about-seo .btn {
  background-color: var(--main-color);
  color: #fff;
  letter-spacing: 1px;
}
/* End About Seo */

/* Start FAQ Accordion */
.faq-accordion .card-header h2 button:after {
  font-family: "FontAwesome";
  content: "\f078 ";
  float: right;
}

.faq-accordion .card-header h2 button.collapsed:after {
  font-family: "FontAwesome";
  content: "\f054";
  float: right;
}
/* End FAQ Accordion */
